* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

$FONT_KALAM: 'Kalam', cursive;
$FONT_NERKO: 'Nerko One', cursive;
$FONT_DANCING: 'Dancing Script', cursive;

.container {
  width: 100%;
  height: 100vh;
  // uncomment later updated!!!!
  // background-color: rgba(0, 0, 0, 1);
}

.banner {
  display: none;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;

  &::after {
    content: '';
    width: 250%;
    height: 100%;
    background: linear-gradient(to right, transparent, #000, #000);
    position: absolute;
    top: 0;
    right: 0;
    animation: bannerAnimation 3s linear forwards;
  }

  h1 {
    color: #91130f;
    font-family: $FONT_DANCING;
    font-size: 120px;
    margin-bottom: 100px;
    border-top: 5px solid #91130f;
    border-bottom: 5px solid #91130f;
  }

  button {
    width: 240px;
    padding: 10px;
    background: linear-gradient(
      to right,
      rgba(233, 122, 111, 1),
      rgba(187, 62, 50, 0.8)
    );
    font-family: $FONT_KALAM;
    font-size: 25px;
    letter-spacing: 2px;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
    transform: perspective(500px) rotateY(-15deg);
    text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    animation: buttonAnimation 1s 2.5s backwards;
    transition: all 0.5s;
    overflow: hidden;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, transparent, #fff, transparent);
      position: absolute;
      top: 0;
      left: -100%;
      transform: skewX(-30deg);
      transition: left 0.5s;
    }

    &:hover {
      transform: perspective(500px) rotateY(15deg);
      text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.4);
      background: linear-gradient(
        to left,
        rgba(233, 122, 111, 1),
        rgba(187, 62, 50, 0.8)
      );
    }

    &:hover::before {
      left: 100%;
    }
  }
}

.slideshow-wrapper {
  // display: none;
}

.slideshow {
  display: flex;
  width: 300%;
  height: 100%;
  position: relative;
  animation: slideshowAnimation 24s 5;
}

.slide {
  width: 100%;
  height: 100vh;

  &:nth-child(1) {
    background: linear-gradient(
        100deg,
        rgba(38, 38, 38, 1),
        rgba(38, 38, 38, 0.8),
        transparent
      ),
      url('https://www.thehackneywick.co.uk/assets/buildings/london-david-dibert-unsplash.jpg')
        center no-repeat;
    background-size: cover;
  }
  &:nth-child(2) {
    background: linear-gradient(
        100deg,
        rgba(38, 38, 38, 1),
        rgba(38, 38, 38, 0.8),
        transparent
      ),
      url('https://www.thehackneywick.co.uk/assets/buildings/newyork-sebastian-kurpiel-unsplash.jpg')
        center no-repeat;
    background-size: cover;
  }
  &:nth-child(3) {
    background: linear-gradient(
        100deg,
        rgba(38, 38, 38, 1),
        rgba(38, 38, 38, 0.8),
        transparent
      ),
      url('https://www.thehackneywick.co.uk/assets/buildings/tokyo-wynand-van-poortvliet-unsplash.jpg')
        center no-repeat;
    background-size: cover;

    p {
      color: rgb(240, 247, 247);
      padding: 1px;
    }
  }
}

.content {
  width: 650px;
  position: relative;
  top: 15%;
  left: 5%;

  i {
    margin-left: 8px;
  }

  h3 {
    font-family: $FONT_NERKO;
    font-size: 80px;
    font-weight: 400;
    color: #ffffff;
  }

  p {
    font-family: $FONT_KALAM;
    font-size: 20px;
    color: #ccc;
  }

  button {
    font-family: $FONT_KALAM;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    width: 150px;
    padding: 10px 10px 0 0;
    margin-top: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    cursor: pointer;
  }
}

@keyframes bannerAnimation {
  0% {
    right: 0;
  }
  100% {
    right: -250%;
  }
}

@keyframes buttonAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideshowAnimation {
  0%,
  15% {
    left: 0;
  }
  25%,
  35% {
    left: -100%;
  }
  45%,
  55% {
    left: -200%;
  }
  65%,
  75% {
    left: -100%;
  }
  85%,
  95% {
    left: 0%;
  }
}
