@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.banner {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}

.banner::after {
  content: '';
  width: 250%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#000), to(#000));
  background: linear-gradient(to right, transparent, #000, #000);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: bannerAnimation 3s linear forwards;
          animation: bannerAnimation 3s linear forwards;
}

.banner h1 {
  color: #91130f;
  font-family: "Dancing Script", cursive;
  font-size: 120px;
  margin-bottom: 100px;
  border-top: 5px solid #91130f;
  border-bottom: 5px solid #91130f;
}

@media (max-width: 100px) {
  .banner h1 {
    font-size: 80px;
  }
}

@media (max-width: 600px) {
  .banner h1 {
    font-size: 40px;
  }
}

.banner button {
  width: 240px;
  padding: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#e97a6f), to(rgba(187, 62, 50, 0.8)));
  background: linear-gradient(to right, #e97a6f, rgba(187, 62, 50, 0.8));
  font-family: "Kalam", cursive;
  font-size: 25px;
  letter-spacing: 2px;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-transform: perspective(500px) rotateY(-15deg);
          transform: perspective(500px) rotateY(-15deg);
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-animation: buttonAnimation 1s 2.5s backwards;
          animation: buttonAnimation 1s 2.5s backwards;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

@media (max-width: 600px) {
  .banner button {
    font-size: 20px;
    width: 180px;
    padding: 7px;
  }
}

.banner button::before {
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#fff), to(transparent));
  background: linear-gradient(to right, transparent, #fff, transparent);
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.banner button:hover {
  -webkit-transform: perspective(500px) rotateY(15deg);
          transform: perspective(500px) rotateY(15deg);
  text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(linear, right top, left top, from(#e97a6f), to(rgba(187, 62, 50, 0.8)));
  background: linear-gradient(to left, #e97a6f, rgba(187, 62, 50, 0.8));
}

.banner button:hover::before {
  left: 100%;
}

.slideshow-wrapper {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  height: 100%;
  position: relative;
}

.slide {
  width: 100%;
  height: 100vh;
}

.slide:nth-child(1) {
  background: linear-gradient(100deg, #262626, rgba(38, 38, 38, 0.8), transparent), url("https://www.thehackneywick.co.uk/assets/buildings/london-david-dibert-unsplash.jpg") center no-repeat;
  background-size: cover;
}

.slide:nth-child(2) {
  background: linear-gradient(100deg, #262626, rgba(38, 38, 38, 0.8), transparent), url("https://www.thehackneywick.co.uk/assets/buildings/newyork-sebastian-kurpiel-unsplash.jpg") center no-repeat;
  background-size: cover;
}

.slide:nth-child(3) {
  background: linear-gradient(100deg, #262626, rgba(38, 38, 38, 0.8), transparent), url("https://www.thehackneywick.co.uk/assets/buildings/tokyo-wynand-van-poortvliet-unsplash.jpg") center no-repeat;
  background-size: cover;
}

.slide:nth-child(3) p {
  color: #f0f7f7;
  padding: 1px;
}

.content {
  width: 650px;
  position: relative;
  top: 15%;
  left: 5%;
}

@media (max-width: 600px) {
  .content {
    width: 300px;
  }
}

.content i {
  margin-left: 8px;
}

.content h3 {
  font-family: "Nerko One", cursive;
  font-size: 80px;
  font-weight: 400;
  color: #ffffff;
}

@media (max-width: 600px) {
  .content h3 {
    font-size: 30px;
  }
}

.content p {
  font-family: "Kalam", cursive;
  font-size: 20px;
  color: #ccc;
}

@media (max-width: 600px) {
  .content p {
    font-size: 15px;
  }
}

.content button {
  font-family: "Kalam", cursive;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  width: 150px;
  padding: 10px 10px 0 0;
  margin-top: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

@-webkit-keyframes bannerAnimation {
  0% {
    right: 0;
  }
  100% {
    right: -250%;
  }
}

@keyframes bannerAnimation {
  0% {
    right: 0;
  }
  100% {
    right: -250%;
  }
}

@-webkit-keyframes buttonAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes buttonAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideshowAnimation {
  0%,
  15% {
    left: 0;
  }
  25%,
  35% {
    left: -100%;
  }
  45%,
  55% {
    left: -200%;
  }
  65%,
  75% {
    left: -100%;
  }
  85%,
  95% {
    left: 0%;
  }
}

@keyframes slideshowAnimation {
  0%,
  15% {
    left: 0;
  }
  25%,
  35% {
    left: -100%;
  }
  45%,
  55% {
    left: -200%;
  }
  65%,
  75% {
    left: -100%;
  }
  85%,
  95% {
    left: 0%;
  }
}
/*# sourceMappingURL=styles.css.map */